<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <!--<connectionStrings>
        <add name="SoftwareStorageSystemUtility.Properties.Settings.SystemDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DataBase\SystemDatabase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="PathDirectoryPreliminary" value="//ipm-fz-nas10/SOFTWARE/M60-PRELIMINARY/" />
    <add key="PathDirectoryRelease" value="//ipm-fz-nas10/SOFTWARE/M60-RELEASE/" />    
  </appSettings> 
</configuration>